/* 
    Created on : Nov 3, 2017, 2:04:37 PM
    Author     : Gabriel Breton - 43397
*/
#pane {
    -fx-background-image: url('old-wallpaper.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#scores {
    -fx-font: 40px "Serif";
    -fx-font-weight: bold;
}

#scoreB, #scoreW, #cptWall{
    -fx-font: 30px "Serif";
    -fx-font-weight: bold;
}

#nbWall {
    -fx-font: 30px "Serif";
    -fx-font-weight: bold;
}

#rowNumber, #columnLetter {
    -fx-font: 25px "Serif";
    -fx-font-weight: bold;
}

#btnAbandon {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), 
        rgba(255,255,255,0));
    -fx-background-radius: 10,8,6,10;
    -fx-background-insets: 0,2,4,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Serif";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 24px;
    -fx-padding: 10 20 10 20;
}

#btnQuit:hover {
      -fx-background-color: 
        #000000,
        linear-gradient(#000000 0%, #000000 20%, #000000 100%),
        linear-gradient(#000000, #000000),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0,0.7), 
        rgba(0, 0, 0, 0));
    -fx-background-radius: 10,8,6,10;
    -fx-background-insets: 0,2,4,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Serif";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 24px;
    -fx-padding: 10 20 10 20;
}
