/* 
    Created on : Nov 3, 2017, 2:04:37 PM
    Author     : Gabriel Breton - 43397
*/

#startPane {
    -fx-background-image: url('darkBckground.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#gameName {
    -fx-font: 80px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: grey;
}

#gamePane {
    -fx-background-image: url('blueGreySpaceBigger.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: left;
}

#nbWall {
    -fx-font: 25px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: lightgrey;   
}
#scores {
    -fx-font: 40px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: brown;    
}

#gameOver {
    -fx-font: 90px "Dekko";
    -fx-font-weight: bold;
}

#winner {
    -fx-font: 50px "Dekko";
    -fx-font-weight: bold;    
}
#score, #lblPseudoBlack, #lblPseudoWhite {
    -fx-font: 30px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: #E6E6E6;
}

#pseudo {
    -fx-font: 20px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#pBar {
    -fx-accent: black;
}

#pIndicator {
    -fx-accent: grey;
}

#pseudoInput {
    -fx-font: 30px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#paneScore {
    -fx-border-style: dashed; 
    -fx-border-color: white;
}

#numerotation {
    -fx-font: 25px "Serif";
    -fx-font-weight: bold;
    -fx-text-fill: #E6E6E6;
}

#button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), 
        rgba(255,255,255,0));
    -fx-background-radius: 10,8,6,10;
    -fx-background-insets: 0,2,4,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Serif";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 24px;
    -fx-padding: 10 20 10 20;
}

#button:hover {
    -fx-background-color: 
        #000000,
        linear-gradient(#000000 0%, #000000 20%, #000000 100%),
        linear-gradient(#000000, #000000),
        radial-gradient(center 50% 0%, radius 100%, rgba(0, 0, 0,0.7), 
        rgba(0, 0, 0, 0));
    -fx-background-radius: 10,8,6,10;
    -fx-background-insets: 0,2,4,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Serif";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 24px;
    -fx-padding: 10 20 10 20;
}
